// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	font-family: verdana, arial, helvetica, sans-serif;
}

td, th, p {
	font-size: 13px;
}

.flash {
	color: green;
}

.alert-danger {
	color: red;
}